<html>
  <head>
    <script src='https://use.typekit.net/abb5hmw.js'></script>
    <script>
      try{Typekit.load({ async: true });}catch(e){}
    </script>

    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="layout">
      <div class="videos">
        <iframe
            src="http://player.twitch.tv/?channel=gamesdonequick&muted=true&autoplay=false"
            width="860"
            height="480"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true">
        </iframe>
      </div>

      <div class="race-info">
        <span class="title">The 1545</span>
        <span class="timer">
          <span class="timer-title">Elapsed Time</span>
          <span class="timer-time">38:15:54</span>
        </span>
      </div>

      <div class="schedule-ticker coming-up">
        <h2>Coming Up <small>Times are in UTC</small></h2>

        <div class="schedule-element">
          <span class="game">SM64</span>
          by
          <span class="runner">Muimania</span>
          <span class="team-name">Anything But Last</span>
          <span class="start-time">around 10:15pm</span>
        </div>

        <div class="schedule-element">
          <span class="game">Crash 2</span>
          by
          <span class="runner">HolySanctum</span>
          <span class="team-name">Team Mornin'</span>
          <span class="start-time">around 11:23pm</span>
        </div>

        <div class="schedule-element">
          <span class="game">DK64</span>
          by
          <span class="runner">Kiwikiller67</span>
          <span class="team-name">Anything But Last</span>
          <span class="start-time">around 12:11am</span>
        </div>
      </div>

      <div class="schedule-ticker featured">
        <h2>On Screen <small>Rotates every 10 minutes</small></h2>

        <div class="schedule-element">
          <span class="runner">ConklesToTheMax</span>
          running <span class="game">Kazooie</span>
          <span class="team-name">The Happy Little Speed Runners</span>
          <span class="estimate">Estimate: 3:45:00</span>
        </div>
      </div>


      <div class="stats">
        <div class="teams">
          <% runs_by_teams.each do |team, team_runs| %>
            <% current_run = team_runs[team.current_run.as(Int32)] %>
            <div class="team" id="team<%= team.id %>">
              <header>
                <div class="meta">
                  <span class="name"><%= team.name %></span>
                  <span class="current-game"><%= current_run.game.name %></span>
                  by
                  <span class="current-runner"><%= current_run.runner.name %></span>
                </div>

                <div class="current-run">
                  <span class="time"><%= Time::Span.from(current_run.start_time || 0, Time::Span::TicksPerSecond) %></span>
                  <span class="progress">Progress: <%= current_run.progress %> of <%= current_run.game.progress_target %></span>
                </div>
              </header>


              <footer>
                <div class="games-table">
                  <% runs = team_runs.group_by{ |r| r.game.series } %>
                  <% series_order = ["mario", "rare", "spyro", "crash"] %>
                  <% series_order.each do |series_name| %>
                    <% ordered_runs_for_series = runs[series_name].sort_by{ |r| r.game.sequence_number.not_nil! } %>
                    <div class="series <%= series_name %>">
                      <% ordered_runs_for_series.each do |run| %>
                        <div class="game <%= run.game.name.not_nil!.downcase.gsub(' ', "") %>">
                          <span class="game-name"><%= run.game.name %></span>
                          <span class="game-time"><%= Time::Span.from(run.estimate.not_nil!, Time::Span::TicksPerSecond) %></span>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </footer>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
