<html>
  <head>
    <script src='https://use.typekit.net/abb5hmw.js'></script>
    <script>
      try{Typekit.load({ async: true });}catch(e){}
    </script>

    <link rel="stylesheet" href="animate.css">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="layout">
      <div class="video" id="video_container">
        <iframe frameborder="0" scrolling="0"></iframe>
      </div>

      <div class="race-info">
        <span class="title">The 1545</span>
        <span class="timer">
          <span class="timer-title">Elapsed Time</span>
          <span class="timer-time">00:00:00</span>
        </span>
      </div>

      <div class="schedule-ticker coming-up" id="coming_up_container">
        <h2>Coming Up <small>Next runs for each team</small></h2>

        <template id="coming_up_element_template">
          <div class="schedule-element">
            <span class="game-name"></span>
            by
            <span class="runner-name"></span>
            <span class="team-name"></span>
            <span class="start-time"></span>
          </div>
        </template>
        <div class="schedule-elements animated">
        </div>
      </div>

      <div class="schedule-ticker featured">
        <h2>On Screen <small>Rotates every 10 minutes</small></h2>

        <div id="on_screen_container">
          <div class="schedule-element hidden">
            <span class="runner-name"></span>
            running <span class="game-name"></span>
            <span class="team-name"></span>
            <span class="estimate">Estimate: <span class="estimate-time"></span></span>
          </div>
        </div>
      </div>


      <template id="team_stats_template">
        <div class="team animated fadeIn">
          <header>
            <div class="meta">
              <span class="name">Team name</span>
              <span class="current-game">Current Game</span>
              by
              <span class="current-runner">Current Runner</span>
            </div>

            <div class="current-run">
              <span class="time updated-timer">00:00:00</span>
              <span class="progress">
                <span class="progress-current"></span>
                of
                <span class="progress-target"></span>
            </div>
          </header>


          <footer>
            <div class="games-table">
              <div class="series mario">
                <div class="game sm64">
                  <span class="game-name">SM64</span>
                  <span class="game-time">00:00:00</span>
                </div>
                <div class="game sunshine">
                  <span class="game-name">Sunshine</span>
                  <span class="game-time">00:00:00</span>
                </div>
                <div class="game galaxy1">
                  <span class="game-name">Galaxy 1</span>
                  <span class="game-time">00:00:00</span>
                </div>
                <div class="game galaxy2">
                  <span class="game-name">Galaxy 2</span>
                  <span class="game-time">00:00:00</span>
                </div>
              </div>

              <div class="series rare">
                <div class="game kazooie">
                  <span class="game-name">Kazooie</span>
                  <span class="game-time">00:00:00</span>
                </div>
                <div class="game tooie">
                  <span class="game-name">Tooie</span>
                  <span class="game-time">00:00:00</span>
                </div>
                <div class="game dk64">
                  <span class="game-name">DK64</span>
                  <span class="game-time">00:00:00</span>
                </div>
              </div>

              <div class="series spyro">
                <div class="game spyro1">
                  <span class="game-name">Spyro 1</span>
                  <span class="game-time">00:00:00</span>
                </div>
                <div class="game spyro2">
                  <span class="game-name">Spyro 2</span>
                  <span class="game-time">00:00:00</span>
                </div>
                <div class="game spyro3">
                  <span class="game-name">Spyro 3</span>
                  <span class="game-time">00:00:00</span>
                </div>
              </div>

              <div class="series crash">
                <div class="game crash1">
                  <span class="game-name">Crash 1</span>
                  <span class="game-time">00:00:00</span>
                </div>
                <div class="game crash2">
                  <span class="game-name">Crash 2</span>
                  <span class="game-time">00:00:00</span>
                </div>
                <div class="game crash3">
                  <span class="game-name">Crash 3</span>
                  <span class="game-time">00:00:00</span>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </template>
    </div>
  </body>

  <script src="moment.min.js"></script>
  <script src="moment-duration-format.js"></script>
  <script src="nanoajax.min.js"></script>
  <script src="coming_up.js"></script>
  <script src="on_screen.js"></script>
  <script src="teams.js"></script>
  <script src="race.js"></script>
  <script src="layout.js"></script>
  <script src="timers.js"></script>
</html>
