<html>
  <head>
    <script src='https://use.typekit.net/abb5hmw.js'></script>
    <script>
      try{Typekit.load({ async: true });}catch(e){}
    </script>

    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <!-- <span class="race-time">38:24:52</span> -->

    <div class="stats">
      <div class="teams">
        <div class="team">
          <div class="meta">
            <span class="name">Y'all just got B E A N E D</span>
            <span class="current-game">Crash 2</span>
            by
            <span class="current-runner">notvanni</span>
          </div>

          <div class="current-run">
            <span class="time">0:58:17</span>
            <span class="progress">Progress: 87 of 100%</span>
          </div>


          <div class="games-table">
            <div class="series rare">
              <div class="game">
                <span class="game-name kazooie">Kazooie</span>
                <span class="game-time kazooie">10:00:00</span>
              </div>
              <div class="game">
                <span class="game-name tooie">Tooie</span>
                <span class="game-time tooie">10:00:00</span>
              </div>
              <div class="game">
                <span class="game-name dk64">DK64</span>
                <span class="game-time dk64">10:10:00</span>
              </div>
            </div>
            <div class="series mario">
              <div class="game">
                <span class="game-name sm64">SM64</span>
                <span class="game-time sm64">1:58:34</span>
              </div>
              <div class="game">
                <span class="game-name sunshine">Sunshine</span>
                <span class="game-time sunshine">10:00:00</span>
              </div>
              <div class="game">
                <span class="game-name galaxy1">Galaxy 1</span>
                <span class="game-time galaxy1">10:00:00</span>
              </div>
              <div class="game">
                <span class="game-name galaxy2">Galaxy 2</span>
                <span class="game-time galaxy2">10:07:43</span>
              </div>
            </div>
            <div class="series spyro">
              <div class="game">
                <span class="game-name spyro1">Spyro 1</span>
                <span class="game-time spyro1">1:34:21</span>
              </div>
              <div class="game">
                <span class="game-name spyro2">Spyro 2</span>
                <span class="game-time spyro2">10:00:00</span>
              </div>
              <div class="game">
                <span class="game-name spyro3">Spyro 3</span>
                <span class="game-time spyro3">3:27:18</span>
              </div>
            </div>
            <div class="series crash">
              <div class="game">
                <span class="game-name crash1">Crash 1</span>
                <span class="game-time crash1">10:00:00</span>
              </div>
              <div class="game active">
                <span class="game-name crash2">Crash 2</span>
                <span class="game-time crash2">0:58:17</span>
              </div>
              <div class="game">
                <span class="game-name crash3">Crash 3</span>
                <span class="game-time crash3">10:00:00</span>
              </div>
            </div>
          </div>
        </div>

        <div class="team">
          <div class="meta">
            <span class="name">The Happy Little Speed Runners</span>
            <span class="current-game">Galaxy 1</span>
            by
            <span class="current-runner">SonicBoomSensei</span>
          </div>

          <div class="current-run">
            <span class="time">10:58:07</span>
            <span class="progress">Progress: 113 of 120 Stars</span>
          </div>


          <div class="games-table">
            <div class="series rare">
              <div class="game">
                <span class="game-name kazooie">Kazooie</span>
                <span class="game-time kazooie">10:00:00</span>
              </div>
              <div class="game">
                <span class="game-name tooie">Tooie</span>
                <span class="game-time tooie">10:00:00</span>
              </div>
              <div class="game">
                <span class="game-name dk64">DK64</span>
                <span class="game-time dk64">10:10:00</span>
              </div>
            </div>
            <div class="series mario">
              <div class="game">
                <span class="game-name sm64">SM64</span>
                <span class="game-time sm64">1:58:34</span>
              </div>
              <div class="game">
                <span class="game-name sunshine">Sunshine</span>
                <span class="game-time sunshine">10:00:00</span>
              </div>
              <div class="game">
                <span class="game-name galaxy1">Galaxy 1</span>
                <span class="game-time galaxy1">10:00:00</span>
              </div>
              <div class="game">
                <span class="game-name galaxy2">Galaxy 2</span>
                <span class="game-time galaxy2">10:07:43</span>
              </div>
            </div>
            <div class="series spyro">
              <div class="game">
                <span class="game-name spyro1">Spyro 1</span>
                <span class="game-time spyro1">1:34:21</span>
              </div>
              <div class="game">
                <span class="game-name spyro2">Spyro 2</span>
                <span class="game-time spyro2">10:00:00</span>
              </div>
              <div class="game">
                <span class="game-name spyro3">Spyro 3</span>
                <span class="game-time spyro3">3:27:18</span>
              </div>
            </div>
            <div class="series crash">
              <div class="game">
                <span class="game-name crash1">Crash 1</span>
                <span class="game-time crash1">10:00:00</span>
              </div>
              <div class="game active">
                <span class="game-name crash2">Crash 2</span>
                <span class="game-time crash2">0:58:17</span>
              </div>
              <div class="game">
                <span class="game-name crash3">Crash 3</span>
                <span class="game-time crash3">10:00:00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
