<html>
  <head>
    <link rel="stylesheet" href="/runner_screen.css">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <script src='https://use.typekit.net/abb5hmw.js'></script>
    <script>
      try{Typekit.load({ async: true });}catch(e){}
    </script>
  </head>

  <body>
    <div class="runs">
      <div class="socket-connection-lost hidden">
        <span>Connection to the server has been lost. Refresh this page to reconnect and continue your runs.</span>
      </div>
      <div class="runner-info">
        <span class="runner-name"><%= runner.name %></span>
        running <span class="run-count"><%= runs.map(&.game.name).join(", ") %></span>
        for <span class="team-name"><%= runs.first.team.name %></span>
        <div class="race-info">
          <span class="timer">
            Total Race Time:
            <span class="timer-time updated-timer" data-started_at="1500066000">00:00:00</span>
          </span>
        </div>
      </div>
      <% runs.each do |run| %>
        <div class="run" id="run<%= run.id %>">
          <div class="info">
            <h2 class="game-name"><%= run.game.name %><small>EST. <span class="estimate"><%= Time::Span.from(run.estimate.not_nil!, Time::Span::TicksPerSecond) %></span></small></h2>
            Run Time: <span class="current-time updated-timer"><%= run.elapsed_time %></span>
            <span class="progress">
              <span class="progress-current"><%= run.progress %></span>
              of
              <span class="progress-target"><%= run.game.progress_target %></span>
            </span>
            <div class="run-actions"></div>
            <textarea rows="6" id="splits_editor<%= run.id %>" placeholder="separate splits,with commas"><%= JSON.parse(run.splits.not_nil!).map(&.to_s).join(",") %></textarea>
            <button data-action="update_splits" data-run="<%= run.id %>">Update Splits</button>
          </div>
          <div class="splits">
            <template id="split_template">
              <div class="split"></div>
            </template>
          </div>
        </div>
      <% end %>
    </div>
  </body>

  <script src="/moment.min.js"></script>
  <script src="/moment-duration-format.js"></script>
  <script src="/timers.js"></script>
  <script src="/runner_screen.js"></script>
  <script type="text/javascript">
    let initial_run_info = <%= runs.map(&.to_h).to_json %>;
    let screen_manager = new RunnerScreen(document.querySelector('body'));
    screen_manager.update_runs(initial_run_info);
  </script>
</html>
